###------------ Command History Search ------------###
"\e[A": history-search-backward        # Up Arrow - Search backward in command history
"\e[B": history-search-forward         # Down Arrow - Search forward in command history
